.top-header-nav{
  background-color: #333333
  }
.aff-link {
  transform: scale(0.5);
  margin-right: -90px;
}
.aff-first {
  padding-right: 10px;
}
.top-header-list {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}
.biz-rad {
  margin-bottom: 1.5px;
}
.news-ribbon {
  background-color: #bb0000;
  height: 5px;
}
.news-header {
  background-color: #183a52;
  height: 100px;
  position: relative;
}
.main-logo {
  transform: scale(0.5);
  position: absolute;
  left: 10px;
  margin-left: -90px;
}
.social-bootstrap {
  transform: scale(0.5);
}
.social-list {
  list-style: none;
  display: inline-block;
  margin-left: -47px;
  vertical-align: middle;
  margin-top: -15px;
}
.social-list.google {
  vertical-align: bottom;
}
.social-nav {
  position: absolute;
  right: 10px;
  top: -10px;
}
.main-news-nav {
  list-style: none;
  position: absolute;
  bottom: 5px;
  left: -18px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.main-news-links {
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}
