.top-header-nav{
  background-color: #333333
  }
.aff-link {
  transform: scale(0.5);
  margin-right: -90px;
}
.aff-first {
  padding-right: 10px;
}
.top-header-list {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}
.biz-rad {
  margin-bottom: 1.5px;
}
.news-ribbon {
  background-color: #bb0000;
  height: 4px;
}
.news-header {
  background-color: #183a52;
  height: 104px;
  position: relative;
}
.main-logo {
  transform: scale(0.5);
  position: absolute;
  left: 10px;
  margin-left: -90px;
}
.social-bootstrap {
  transform: scale(0.5);
}
.social-list {
  list-style: none;
  display: inline-block;
  margin-left: -47px;
  vertical-align: middle;
  margin-top: -15px;
}
.social-list.google {
  vertical-align: bottom;
}
.social-list.search {
  margin-right: 15px;
  vertical-align: bottom;
}
.social-nav {
  position: absolute;
  right: 10px;
  top: -10px;
}
.main-news-nav {
  list-style: none;
  position: absolute;
  bottom: 5px;
  left: -18px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.main-news-links {
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.news-container {
  position: relative;
}
.left-news-container {
 position: absolute;
 left: 10px;
 display: inline-block;
 color: #183a52;
 width: 660px;
}
.right-news-container {
 position: absolute;
 display: inline-block;
 right: 10px;
}
.main-news-title {
 font-family: arial,sans-serif;
 font-size: 36px;
}
.headline-link {
 text-decoration: none;
 color: #183a52;
}
.headline-link:hover {
 text-decoration: underline;
}
.headlines-container {
  white-space: nowrap;
}
.main-news-links:hover {
  background-color: grey;
  color: white;
}
.headline-image {
  height: 300px;
  width: 184px;
  display: inline-block;
}
.headline-stories {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.headline-ul-span {
  color: #bb0000;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.headline-ul {
  color: #183a52;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 8px;
}
.headline-ul:hover {
  text-decoration: underline;
}
.headline-list-main {
  color: #bb0000;
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 0;
  max-width: 250px;
}
.break-line {
  background: lightgrey;
  height: 1.5px;
}
.project-item {
  display: inline-block;
  margin-top: 10px;
}
.project-image {
  height: 100%;
  width: 100%;
}
.project-image-container {
  width: 212px;
  height: 200px;
}
