.top-header-nav{
  background-color: #333333
  }
.aff-link {
  transform: scale(0.5);
  margin-right: -90px;
}
.aff-first {
  padding-right: 10px;
}
.top-header-list {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}
.biz-rad {
  margin-bottom: 1.5px;
}
.news-ribbon {
  background-color: #bb0000;
  height: 4px;
}
.news-header {
  background-color: #183a52;
  height: 104px;
  position: relative;
}
.main-logo {
  transform: scale(0.5);
  position: absolute;
  left: 10px;
  margin-left: -90px;
}
.social-bootstrap {
  transform: scale(0.5);
}
.social-list {
  list-style: none;
  display: inline-block;
  margin-left: -47px;
  vertical-align: middle;
  margin-top: -15px;
}
.social-list.google {
  vertical-align: bottom;
}
.social-list.search {
  margin-right: 15px;
  vertical-align: bottom;
}
.social-nav {
  position: absolute;
  right: 10px;
  top: -10px;
}
.main-news-nav {
  list-style: none;
  position: absolute;
  bottom: 5px;
  left: -18px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.main-news-links {
  color: white;
  display: inline-block;
  margin-right: 10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.news-container {
  position: relative;
}
.left-news-container {
 position: absolute;
 left: 10px;
 display: inline-block;
 border: 1px solid black;
 color: #183a52;
 max-width: 70%;
}
.right-news-container {
 position: absolute;
 display: inline-block;
 right: 10px;
 border: 1px solid black;
}
.main-news-title {
 font-family: arial,sans-serif;
 font-size: 36px;
}
.headline-link {
 text-decoration: none;
 color: #183a52;
}
.headline-link:hover {
 text-decoration: underline;
}
